dotenv .env
PATH_add tools

# you can enable direnv with python support
# when you have a ready to use direnv setup
# then uncomment the lines below and update
# them for your requirements
#
pyversion=3.8.5
pvenv=refnode-spartakiade-2021-session-effective-python
use python ${pyversion}
layout virtualenv ${pyversion} ${pvenv}
layout activate ${pvenv}-${pyversion}

echo ""
echo ""
echo "To enable autocompletion, execute the following shell cmd"
echo ""
echo 'eval "$(_SPARTAKIADE_COMPLETE=source_zsh spartakiade)"'
